body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('fdpokemon.avif'); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px 0;
    cursor: pointer;
    background-color: #f3f800;
    border: none;
    border-radius: 5px;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.pokemon-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}
